/*


:root {
  --color-black: rgba(23, 19, 19, 0.627);
  --color-green: rgb(6, 158, 6);
  --color-lightgray: rgba(245, 227, 227, 0.903);
  --color-white: rgba(255, 255, 255, 0.965);
}


body {
  background-color: var(--color-lightgray);
  font-family: 'Montserrat', sans-serif;
}


#header {
  background-color: var(--color-lightgray);
  border: 1px none;
  border-width: thin;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  top: 0;
  width: 150%;
}

#header-img {
  width: 50px;
}

.nav-title {
  font-size: xx-large;
  font-weight: 700;
}

.nav-txt {
  color: var(--color-green);
  text-decoration: none;
}

.nav-link {
  color: var(--color-green);
  font-size: x-large;
  margin-right: 40px;
  padding-left: 160px;
  text-decoration: none;
}

input {
  margin-top: 20px;
}

#email {
  border: 1px solid var(--color-white);
  border-radius: 40px ;
  height: 30px;
  width: 400px;
}

.subs {
  color: var(--color-black);
  font-size: large;
  padding-top: 150px;
  text-align: center;
}

#submit {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  color: var(--color-lightgray);
  cursor: pointer;
}

.btn {
  display: none;
}


.grid-container {
  display: grid;
  grid-template-columns: 350px auto;
}

#img {
  padding-left: 260px;
  padding-right: 25px;
  padding-top: 80px;
  width: 40px;
}

#text h2 {
  color: var(--color-black);
  font-size: 20px;
  margin-top: 80px;
  margin-bottom: 0px;
}

#text p {
  color: var(--color-black);
  font-size: 18px;
  margin-top: 1px;
  padding-top: 0px;
}


#video {
  border: none;
  height: auto;
  margin-top: 150px;
  margin-left: 180px;
  width: 70%;  
}


.flex-container {
  color: var(--color-black);
  background-color: var(--color-lightgray);
  display: flex;
  flex-wrap: nowrap;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 60px;
}

.flex-container p {
  font-size: 15px;
  padding-left: 10px;
}

.flex-container h2 {
  padding-left: 10px;
}

#pricing {
  background-color: var(--color-white);
  border: 3px solid var(--color-white);
  border-radius: 7px;
  height: 90%;
  margin-left: 60px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 10px;
  width: 20%;
}

button {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  color: var(--color-lightgray);
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  width: 140px;
  padding-top: 5px;
  padding-bottom: 10px; 
}



.footer a,
.footer p {
  color: var(--color-black);
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
}

.footer a {
  color: gray;
}

.footer a:hover {
  text-decoration: underline;
}
*/


@media screen and (max-width: 1200px) {
  header {
    border: 1px solid var(--color-green);
    height: 60%;
    margin-left: 0;
    margin-right: 0;
    max-width: 10%;
    position: none;
  }

  #header-img {
    padding-top: 20px;
    padding-left: 23px;
    width: 20px;
  }

  .nav-title {
    display: block;
    font-size: 14px;
    font-weight: 1000;
    padding-top: 5px;
    padding-bottom: 35px;
    padding-left: 10px;
    width: 90px;
  }

  .nav-link {
    display: block;
    font-size: 23px;
    margin-right: 0;
    padding-left: 1px;
    padding-right: 0;
    padding-top: 20px;
    width: 140px;
  }

  #email {
    width: 300px;
  }

  .subs {
    font-size: large;
    padding-top: 150px;
    margin-left: 230px;
    text-align: center;
  }
  
  .grid-container {
    margin-left: -80px;
  }

  #video {
    margin-left: 170px;
  }

  .flex-container {
    display: grid;
    margin-left: 350px;
  }

  #pricing {
    height: 200px;
    width: 170px;
    margin-bottom: 80px;
  }

  .footer a,
  .footer p {
    font-size: 15px;
    padding-top: 10px;
  }
}



@media screen and (max-width: 1000px) {
  .flex-container {
    display: grid;
    margin-left: 250px;
  }
}



@media screen and (max-width: 800px) {
  .flex-container {
    display: grid;
    margin-left: 150px;
  }

  #email {
    width: 200px;
  }
}



@media screen and (max-width: 600px) {
  .flex-container {
    display: grid;
    margin-left: 100px;
  }
}



@media screen and (max-width: 400px) {
  #header {
    display: flex;
    max-width: 100%;
    height: auto;
  }

  #header-img {
    width: 10vw;
    height: 10vw;
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: -10px;
  }

  .nav-title,
  .nav-link,
  .subs,
  input,
  #text h2,
  #text p,
  button
  {
    font-size: 5.5vw;
  }

  .btn {
    color: var(--color-black);
    display: block;
    font-size: 9vw;
    width: 0px;
    height: 0px;
    margin-top: 55px;
    margin-right: 100px;
    text-decoration: none;
  }

  #myList {
    display: none;
    padding-bottom: 0px;
    margin-top: 120px;
    margin-bottom: 0px;
  }

  .nav-title {
    flex-grow: 1;
    padding-top: 70px;
    margin-left: -60px;
  }

  .nav-txt {
    color: var(--color-black);
    font-size: 4vw;
  }

  .nav-link {
    color: var(--color-black);
    font-size: 7vw;
    margin-left: -150px;
    padding-top: 20px;
  }

  #email {
    width: 240px;
  }

  .subs {
    margin-left: 0;
    margin-bottom: 180px;
    padding-top: 350px;
    
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 180px auto;
    margin-top: -50px;
  }

  #img {
    padding-left: 110px;
    padding-right: 25px;
    padding-top: 80px;
    width: 40px;
  }

  #video {
    border: none;
    height: auto;
    margin-top: 150px;
    margin-bottom: 80px;
    margin-left: 50px;
    width: 70%;
  }

  .flex-container {
    display: grid;
    margin-left: -70px;
    }

  .flex-container h2,
  .flex-container p {
    font-size: 5.8vw;
  }

  .footer a,
  .footer p {

    font-size: 5vw;
    margin-bottom: 50px;
  }

  .footer a{
    color: gray;
  }
}