body {background-color: gold;
    color: rgb(5, 144, 5);}
     
    
    
    #nav-bar {position: fixed;
    top:0;
    background-color: gold;
    border: 1px none;
    border-width: thin;
    margin-left: 0;
    margin-right: 0;}
    
    .nav-title {font-size: xx-large;
    padding-right: 60px;}
    
    .nav-link {font-size: x-large;
    padding-right: 60px;
    color: rgb(5, 144, 5);;
    text-decoration: none;}
    
    
    
    .form {padding-top: 20%;
    padding-bottom: 13%;
    padding-left: 29%;
    padding-right: 29%;
    text-align: center;
    line-height: 30px;}
    
    
    
    .grid-container {display: grid;
    grid-template-columns: 180px auto;
    }
    
    #img {width: 55px;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 20px;
    }
    
    #text h2 {margin-top: 3%;
    margin-bottom: 0%;
    font-size: 20px;
    }
    
    #text p {padding-top: 0%;
    margin-top: 1%;}
    
    
    
    #how_we_teach {padding-top: 15%;
    padding-left: 25%;}
    
    
    
    .flex-container {
    padding-top: 15%;
    display: flex;
    flex-wrap: nowrap;
    background-color: gold;
    }
    
    .flex-container h2, 
    .flex-container p  {padding-left: 10%;
    padding-right: 10%;}
    
    .flex-container p {font-size: 15px;
    padding-top:30px;
    }
    
    #pricing
    {width: 25%;
    height: 120%;
    border: 3px solid green;margin-left: 40px;
    margin-right: 10px;
    border-radius: 2%; 
    }
    
    button {transform: translate(20%);
    width: 140px;
    height: 50px;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding-bottom: 50px;
    }